.subsribe-form
  .root
    .container.max-sm
      h3.use-text-title2.mb-4
        | #{$t.common.blog_subscribe_desc}
      p.use-text-subtitle2 #{$t.common.blog_subscribe_desc}
      .form
        form
          .field.outlined
            .input-field.dark.full-width.solo
              |
              |
              input(type="email" name="email" placeholder=$t.common.form_email)/
          |
          |
          button.btn.primary.button.waves-effect(type="button") #{$t.common.blog_subscribe}
          |
          |
