.footer-bottom-deco
  .left-deco
    |
    |
    img.img-2d3d(src=img_assets+img_artwork[40] data-2d=img_assets+img_artwork[39] data-3d=img_assets+img_artwork[40] alt="footer")/
    |
    |
  .right-deco
    |
    |
    img.img-2d3d(src=img_assets+img_artwork[42] data-2d=img_assets+img_artwork[41] data-3d=img_assets+img_artwork[42] alt="footer")/
    |
    |
