.footer-top-deco
  .wow.zoomInShort(data-wow-offset="0" data-wow-delay="0.2s" data-wow-duration="0.3s")
    |
    |
    img.img-2d3d(src=img_assets+img_artwork[44] data-2d=img_assets+img_artwork[43] data-3d=img_assets+img_artwork[44] alt="footer")/
    |
    |
