case footerType
  when 'sitemap'
    include ./sitemap
  when 'blog'
    include ./blog
  when 'contact'
    include ./contact
  when 'basic'
    include ./basic
  default
    #footer-sitemap.footer-component.active
      include ./sitemap
    #footer-blog.footer-component
      include ./blog
    #footer-contact.footer-component
      include ./contact
    #footer-basic.footer-component
      include ./basic