footer.footer-basic
  include ./decoration-bottom
  .root
    .container.max-lg
      nav
        ul
          each item in menu.education
            li
              a(href="#" + item.name) #{$t.education_landing["header_"+item.name]}
      .socmed
        |
        |
        a.btn.icon.waves-effect.waves-light(href="#")
          i.ion-social-twitter
        |
        |
        a.btn.icon.waves-effect.waves-light(href="#")
          i.ion-social-facebook
        |
        |
        a.btn.icon.waves-effect.waves-light(href="#")
          i.ion-social-instagram
        |
        |
    .copyright
      |
      |
      p.body-2.text-center
        | &copy; #{brand.education.footerText}

