extends ../layouts/app.pug

block variables
  - var pageTitle = " Homepage"
  - var pageName = "homepage"
  - var headerHome = true

block content
  div#home
    .main-wrap
      include ../components/header/main.pug
      |
      |
      |
      main.container-wrap
        // ##### BANNER #####
        section#banner
          include ../components/home/banner-slider.pug
        // ##### END BANNER #####
        |
        |
        |
        // ##### FEATURE #####
        section#feature.space-top.space-top-short-sm
          include ../components/home/feature.pug
        // ##### END FEATURE #####
        |
        |
        |
        // ##### POPULAR #####
        section#popular.space-top-short
          include ../components/home/popular-course.pug
        // ##### END POPULAR #####
        |
        |
        |
        // ##### EXPLORE #####
        section#explore
          include ../components/home/explore.pug
        // ##### END EXPLORE #####
        |
        |
        |
        // ##### ABOUT #####
        section#about.space-top-short
          include ../components/home/about.pug
        // ##### END ABOUT #####
        |
        |
        |
        // ##### TESTIMONIALS #####
        section#testimonials.space-top
          include ../components/home/testimonials.pug
        // ##### END TESTIMONIALS #####
        |
        |
        |
        // ##### BLOG #####
        section#blog-home.space-top
          include ../components/home/blog.pug
        // ##### END BLOG #####
        |
        |
        |
      // ##### SUBSCRIBE FORM #####
      section#subscribe.bottom-deco-wrap.space-top
        include ../components/footer/decoration-top.pug
        include ../components/subscribe-form.pug
      |
      |
      // ##### FOOTER #####
      include ../components/footer/main.pug
      // ##### END FOOTER #####
      |
      |
      |
      // ##### NOTIFICATIONS #####
      .hidden-md-down
        include ../components/notifications.pug
      // ##### END NOTIFICATIONS #####
      |
      |
      |
      // ##### CORNER #####
      .hidden-md-down
        include ../components/corner.pug
      // ##### END CORNER #####
      |
      |