extends ../layouts/app.pug
include ../components/titles/title

block variables
  - var pageTitle = " Team"
  - var pageName = "team"
  - var headerHome = false

block content
  div#about-page
    .main-wrap
      include ../components/header/main.pug
      |
      |
      |
      .container-front
        // ##### BANNER #####
        include ../components/about/banner.pug
        +about-banner
          img.img-2d3d(src=img_assets+imgAPI.ui[5] data-2d=img_assets+imgAPI.ui[4] data-3d=img_assets+imgAPI.ui[5] alt='services 3d')/
        // ##### END BANNER #####
        |
        |
        |
        // ##### COUNTER #####
        include ../components/counter.pug
        +counter
        // ##### END COUNTER #####
        |
        |
        |
        // ##### TEAM #####
        .space-bottom-short
          .container.text-center.text-md-start
            +title-main('left', $t.common.about_team, 'Vestibulum faucibus eget erat eget pretium. Donec commodo convallis eget suscipit orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'primary')
            include ../components/about/team-grid.pug
        // ##### END TEAM #####
        |
        |
        |
        // ##### PHOTO #####
        .space-bottom-short
          include ../components/about/photo-slider.pug
        // ##### END PHOTO #####
        |
        |
        |
      // ##### CALL ACTION #####
      section.bottom-deco-wrap.space-top.space-bottom-short
        include ../components/footer/decoration-top.pug
        include ../components/call-action.pug
      // ##### END CALL ACTION #####
      |
      |
      |
      // ##### FOOTER #####
      #footer
        include ../components/footer/main.pug
      // ##### END FOOTER #####
      |
      |
      |
