mixin page-deco(extend)
  .page-deco
    .top-deco
      |
      |
      if extend
        img.img-2d3d(src=img_assets+img_artwork[44] data-2d=img_assets+img_artwork[43] data-3d=img_assets+img_artwork[44] alt='footer')/
      |
      |
    include ../footer/decoration-bottom
