mixin about-banner
  include ../hero-banner
  +hero-banner
    .banner-basic
      .banner-wrap
        .inner
          .row.d-flex.justify-content-center.align-items-center
            .col-md-6.px-sm-5.px-0.py-4
              .text
                .title.title-left
                  h4.use-text-title2 Pellentesque habitant morbi tristique senectus 
                h5.use-text-subtitle2
                  | Multiple lines of text that form the lede, informing new readers quickly and efficiently about what&apos;s most interesting in this post&apos;s contents
            .col-md-6.px-sm-5.py-4
              .img
                |
                |
                block
                |
                |
