include ../cards/media-card
include ../titles/title

.about-style
  .container.gallery-root
    +title-main('left', $t.common.about_gallery, 'Vestibulum faucibus eget erat eget pretium. Donec commodo convallis eget suscipit orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.', 'secondary')
    .carousel
      |
      |
      button.btn.btn-icon.waves-effect.btn-small.nav.prev#team_prev
        i.icon.material-icons arrow_back
      |
      |
      .photo-carousel#about_photo_carousel
        - var n = 0
        while n < 6
          .item.px-sm-3.px-1.showImg(data-index=n++)
            .showimg
              |
              |
              a.waves-effect(href=imgAPI.photo[10 + n])
                img(src=imgAPI.photo[10 + n] alt='photo')/
              |
              |
            +media-card('Sed lacinia velit, ut malesuada eros interdum a', 'portrait', 'photo', imgAPI.photo[10 + n], imgAPI.photo[10 + n])
      |
      |
      button.btn.btn-icon.waves-effect.btn-small.nav.next#team_next
        |
        |
        i.icon.material-icons arrow_forward
        |
        |
      |
      |
