.about-style
  .progress-wrap
    ul#progress.zero
      li
        .text-icon
          i.ion-wand.use-text-primary-color
          h5.use-text-subtitle2 UI Interface Design
        .progress
          .determinate.progress-linear.primary(style='width: 80%')
      li
        .text-icon
          i.ion-social-dribbble-outline.use-text-secondary-color
          h5.use-text-subtitle2 Icon Design
        .progress
          .determinate.progress-linear.secondary(style='width: 70%')
      li
        .text-icon
          i.ion-ios-world-outline.use-text-accent-color
          h5.use-text-subtitle2 HTML Prototyping
        .progress
          .determinate.progress-linear.accent(style='width: 60%')
      li
        .text-icon
          i.ion-ios-camera-outline.use-text-primary-color
          h5.use-text-subtitle2 Photo Editing
        .progress
          .determinate.progress-linear.primary(style='width: 90%')
      li
        .text-icon
          i.ion-ios-snowy.use-text-secondary-color
          h5.use-text-subtitle2 Graphic Illustrations
        .progress
          .determinate.progress-linear.secondary(style='width: 80%')